/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
 /*end medium */

nav {
 
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+0,aa0000+100 */
background: #ff3232; /* Old browsers */
background: -moz-linear-gradient(top, #ff3232 0%, #aa0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff3232 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff3232 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */}

nav button { 
        display:none;
    }  /* hamburger button does not need to be shown */
    
    nav #primaryNav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    nav #primaryNav li{
        flex-grow: 1;
    }
    
    nav ul li a {
        padding: 0.8rem 0.3rem ;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-left: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    
    nav ul.hide {
        display: flex;
    }

    header h1 {
        font-size: 2.9em;
    }
           
    header .subheading {
        font-size: 1.1em;
    }
    
    main h2 {
        font-size: 2.2em;
        margin: 1em 1.65em 0 ;
    }
    
    main h3 {
        font-size: 1.3em;
    }
    
    main p, article.info ul li {
        font-size: 1em;
    }
    
    main section .container1 img {   
        margin-left: 4em;
    }
    
    main section .container1 > div {
        margin-left: 4em;
    }
    
    section.forecast { 
        display: block;
        margin: 2em 3.6em 2em 3.6em;
        padding: 0.2em 0 1em 0;
    }  /* show the 10-day forecast with the medium view and up */

    table {
        text-align: center;
        font-family: Calibri, sans-serif;
        font-size: 15px;
        width: 70%;
        margin: auto;   
    }

    table th, td {
        border: 0.3px solid black;
    }
    
    main > .flexbox {
        margin: 0 3.6em 0 3.6em;
    }
    
    main .flexbox picture img {
        display: flex;
        margin: 0 auto;
    }
    
    
    
    main article.container img , .flexbox1>img{ 
        width: 40%;
        margin-top: 0;
        padding: 0.7em;
        order: 1;
    } 
      
    footer {
        font-size: 0.8em;
    }
    
    main > .grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 2em 3.6em 0;
        grid-gap: 2em;
    }
    
    form#w-form {
        margin: 0 3.6em;
    }
    
    form legend {
        font-size: 1.5em;
    }
    
    form label span {
        font-size: 1.2em;
    }
    
    input, select, .radio, #types, #ratingvalue {
        font-size: 1em;
    }
    
    input.submitBt {
        font-size: 1.3em;
    }
    
    section.grid {
        grid-template-columns: repeat(3, 1fr);   
    }
    
    article.info {
        margin: 2em 3.6em 2em 3.6em;
    }

  
  section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}
